body{
    overflow: hidden;
}

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 3rem;
  }

  .circle-svg {
    width: 500px;
    height: 1000px;
    position: relative;
    display: flex;
  }

  .circle-path {
    fill: transparent;
    stroke: black;
    stroke-width:12;
    stroke-dasharray: 1000;
    animation: drawPartialCircle 4s linear;
    border-radius: 50%;
    height: 22rem;
    transform: rotate(206deg);
  }
  @keyframes drawPartialCircle {
    0%, 100% {
      stroke-dashoffset: 1000;
    }
    20% {
      stroke-dashoffset: 800;
    }
    80% {
      stroke-dashoffset: 0;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }
  #text_1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    color: rgba(205, 70, 49, 0.893);

  }
  #text_2{
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    margin-top: -10.5rem;
  }
#text_3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    margin-top: -10.4rem;
    display: flex;
}
.text{
    margin-top: 18.5%;
    margin-left: -22.5%;
    display: block;
}
/*------*/
.loader{
  margin-top: 44%;
  margin-left:20%;
  position:absolute;
}

.dot {
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 1.5;
    border-radius: 4px;
    
}

.dot-1 {
    -webkit-animation: 1.5s linear infinite animateDot1;
    animation: 1.5s linear infinite animateDot1;
    left: 12px;
    background: rgba(205, 70, 49, 0.893)
}

.dot-2 {
    -webkit-animation: 1.5s linear infinite animateDot2;
    animation: 1.5s linear infinite animateDot2;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    left: 24px;
    background: rgba(205, 70, 49, 0.893)
}

.dot-3 {
    -webkit-animation: 1.5s linear infinite animateDot3;
    animation: 1.5s linear infinite animateDot3;
    left: 12px;
    background:black
}

.dot-4 {
    -webkit-animation: 1.5s linear infinite animateDot4;
    animation: 1.5s linear infinite animateDot4;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    left: 24px;
    background: rgba(205, 70, 49, 0.893)
}

@-webkit-keyframes animateDot1 {
    0% {
        -webkit-transform: rotate(0) translateX(-12px);
        transform: rotate(0) translateX(-12px)
    }

    25% {
        -webkit-transform: rotate(180deg) translateX(-12px);
        transform: rotate(180deg) translateX(-12px)
    }

    75% {
        -webkit-transform: rotate(180deg) translateX(-12px);
        transform: rotate(180deg) translateX(-12px)
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(-12px);
        transform: rotate(360deg) translateX(-12px)
    }
}

@keyframes animateDot1 {
    0% {
        -webkit-transform: rotate(0) translateX(-12px);
        transform: rotate(0) translateX(-12px)
    }

    25% {
        -webkit-transform: rotate(180deg) translateX(-12px);
        transform: rotate(180deg) translateX(-12px)
    }

    75% {
        -webkit-transform: rotate(180deg) translateX(-12px);
        transform: rotate(180deg) translateX(-12px)
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(-12px);
        transform: rotate(360deg) translateX(-12px)
    }
}

@-webkit-keyframes animateDot2 {
    0% {
        -webkit-transform: rotate(0) translateX(-12px);
        transform: rotate(0) translateX(-12px)
    }

    25% {
        -webkit-transform: rotate(-180deg) translateX(-12px);
        transform: rotate(-180deg) translateX(-12px)
    }

    75% {
        -webkit-transform: rotate(-180deg) translateX(-12px);
        transform: rotate(-180deg) translateX(-12px)
    }

    100% {
        -webkit-transform: rotate(-360deg) translateX(-12px);
        transform: rotate(-360deg) translateX(-12px)
    }
}

@keyframes animateDot2 {
    0% {
        -webkit-transform: rotate(0) translateX(-12px);
        transform: rotate(0) translateX(-12px)
    }

    25% {
        -webkit-transform: rotate(-180deg) translateX(-12px);
        transform: rotate(-180deg) translateX(-12px)
    }

    75% {
        -webkit-transform: rotate(-180deg) translateX(-12px);
        transform: rotate(-180deg) translateX(-12px)
    }

    100% {
        -webkit-transform: rotate(-360deg) translateX(-12px);
        transform: rotate(-360deg) translateX(-12px)
    }
}

@-webkit-keyframes animateDot3 {
    0% {
        -webkit-transform: rotate(0) translateX(12px);
        transform: rotate(0) translateX(12px)
    }

    25% {
        -webkit-transform: rotate(180deg) translateX(12px);
        transform: rotate(180deg) translateX(12px)
    }

    75% {
        -webkit-transform: rotate(180deg) translateX(12px);
        transform: rotate(180deg) translateX(12px)
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(12px);
        transform: rotate(360deg) translateX(12px)
    }
}

@keyframes animateDot3 {
    0% {
        -webkit-transform: rotate(0) translateX(12px);
        transform: rotate(0) translateX(12px)
    }

    25% {
        -webkit-transform: rotate(180deg) translateX(12px);
        transform: rotate(180deg) translateX(12px)
    }

    75% {
        -webkit-transform: rotate(180deg) translateX(12px);
        transform: rotate(180deg) translateX(12px)
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(12px);
        transform: rotate(360deg) translateX(12px)
    }
}

@-webkit-keyframes animateDot4 {
    0% {
        -webkit-transform: rotate(0) translateX(12px);
        transform: rotate(0) translateX(12px)
    }

    25% {
        -webkit-transform: rotate(-180deg) translateX(12px);
        transform: rotate(-180deg) translateX(12px)
    }

    75% {
        -webkit-transform: rotate(-180deg) translateX(12px);
        transform: rotate(-180deg) translateX(12px)
    }

    100% {
        -webkit-transform: rotate(-360deg) translateX(12px);
        transform: rotate(-360deg) translateX(12px)
    }
}

@keyframes animateDot4 {
    0% {
        -webkit-transform: rotate(0) translateX(12px);
        transform: rotate(0) translateX(12px)
    }

    25% {
        -webkit-transform: rotate(-180deg) translateX(12px);
        transform: rotate(-180deg) translateX(12px)
    }

    75% {
        -webkit-transform: rotate(-180deg) translateX(12px);
        transform: rotate(-180deg) translateX(12px)
    }

    100% {
        -webkit-transform: rotate(-360deg) translateX(12px);
        transform: rotate(-360deg) translateX(12px)
    }
}
