body{
    overflow: hidden;
}

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 12%;
  }

  .circle-svg {
    width: 500px;
    height: 1000px;
    position: relative;
    display: flex;
  }

  .circle-path {
    fill: transparent;
    stroke: black;
    stroke-width:12;
    stroke-dasharray: 1000;
    animation: drawPartialCircle 4s linear;
    border-radius: 50%;
    height: 22rem;
    transform: rotate(208deg);
  }
  @keyframes drawPartialCircle {
    0%, 100% {
      stroke-dashoffset: 1000;
    }
    20% {
      stroke-dashoffset: 800;
    }
    80% {
      stroke-dashoffset: 0;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }
  #text_1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    color: rgba(205, 70, 49, 0.893);

  }
  #text_2{
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    margin-top: -10.5rem;
  }
#text_3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size:4rem;
    line-height: 56.53px;
    letter-spacing: -4%;
    display: flex;
    margin-top: -10.4rem;
    display: flex;
}
.text{
    margin-top: 18.5%;
    margin-left: -22.5%;
    display: block;
}
